* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  /* background-image: url(images/bg.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000110;
  background-size: 100% auto;
}

body * {
  font-family: 'Inter', sans-serif;
}